# General
.DS_Store
.AppleDouble
.LSOverride

# Possible executables
a.out
a.exe
split-string-at-index
print-max-note-lengths
get-note-index
get-chord-index
split-note-and-chord
print-chord
chord
01-test-file-game
02-test-random-game
03-test-is-in-game-bounds
04-test-get-weeper-count
05-test-show-all
06-test-mark-game-square
07-test-adjacent-weeper-count
08-test-reveal-game-square
09-test-is-game-over-loss
10-test-is-game-over-win
mine-c-weeper-game

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

#
# GitHub C recommendations: https://github.com/github/gitignore/blob/master/C.gitignore
#
# Prerequisites
*.d
# Object files
*.o
*.ko
*.obj
*.elf
# Linker output
*.ilk
*.map
*.exp
# Precompiled Headers
*.gch
*.pch
# Libraries
*.lib
*.a
*.la
*.lo
# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib
# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
# Debug files
*.dSYM/
*.su
*.idb
*.pdb
# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
